#close-create-maquette{
    cursor: pointer;
    padding: 0 1rem;
    position: relative;
    top: -1px;
    color: #000;
}
#close-create-maquette:hover{
    color: #fff;
    background-color: rgb(223, 53, 53);
    padding-bottom: 4px;
}
#create-maquette{
    border: 1px solid #000;
    cursor: pointer;
}
#create-maquette:hover{
    border: 1px solid #008000;
    background-color: #008000;
    color: #fff;
}
#maquette-modal{
    top: 25%;
    left: 25%;
    background-color: #fff;
}
.body .col-lg-3{
    cursor: pointer;
}
.maquette .footer span{
    background-color: rgb(223, 53, 53);
    color: #fff;
}
.maquette .footer span:hover{
    background-color: rgb(190, 49, 49);
    color: #fff;
}
