#modal-create-navbar{
    background-color: #fff;
 
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}
#close-create-navbar span{
    padding: 0 12px;
    cursor: pointer;
    position: relative;
    top: -1px;
}
#close-create-navbar span:hover{
    color: #fff;
    background-color: rgb(223, 53, 53);
    cursor: pointer;
   
}
input[type='radio']{
    position: relative;
    top: 2px;
}
label{
    margin: 0;
}