.header-view-form{
    position: fixed;
    top: 0%;
    width: 80%;
    background: #fff;
    left: 15%;
}
.header-view-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    cursor: pointer;
}
.header-view-item:hover{
    transform: scale(1.1);
}
.scroll{
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.header-view{
    display: none;
}
.item-content{
    flex-direction: column;
    justify-content: center;
}
#close-header-view{
    cursor: pointer;
    padding: 0 1rem;
    position: relative;
    top: -1px;
    color: #000;
}
#close-header-view:hover{
    color: #fff;
    background-color: rgb(223, 53, 53);
}