#view-footer{
    background-color: #fff;
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}
#close-view-footer span{
    padding: 0 12px;
    cursor: pointer;
    position: relative;
    top: -1px;
}
#close-view-footer span:hover{
    color: #fff;
    background-color: rgb(223, 53, 53);
    cursor: pointer;
   
}