{% if header != null %}
<div id="header">
    <div style="background-image: url({{ asset('img/uploads/' ~ header.image) }});
                position: relative;
                height: 100vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;">
                            <div class="d-flex flex-column justify-content-center" style="color: #fff; height: 100%">
                                <h1 class="m-0 text-center text-uppercase">
                                    {{header.title}}
                                </h1>
                                <p class="text-center">
                                    {{header.description}}
                                </p>
                            </div>
                    </div>
                    <div class="{{header.image}}" hidden></div>
<div>
{% endif %}