<div id='view-footer'>
    <div id="close-view-footer" class="text-right">
        <span>x</span>
    </div>
    <div class="text-center">
        <h3 class="m-0">View du footer</h3>
        <span class="w-100 sous-titre">Attacher votre footer a votre maquette</span>
    </div>
    <div class="d-flex flex-column">
        {% for footer in footers %}
            {{footer.title}}
            {{footer.copyright}}
        {% endfor %}
    </div>
</div>