{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header-view.css') }}">
{% endblock %}


<div class="bg-form header-view">
</div>
<div class="header-view-form header-view">
    <div  class="text-right">
    <span id="close-header-view">
        x
    </span>
    </div>
    <div class="scroll">
        {% for property in properties %}
            <div class="header-view-item" style="background-image: url({{ asset('img/uploads/' ~ property.image) }});">
                    
            </div>
        {% endfor %}
    </div>
    <div>
        Salut
    </div>
</div>